@use '../utils' as u;

.reservation-tuto{
&__btn {
               height: 50px;
               width: 80%;
               background: linear-gradient(u.$second-color -11.44%, u.$primaire-color 123.93%);
               box-shadow: 0px 0.1rem 10px 0px #00000040;
               border-radius: 25px;
               border: none;
               @include u.margin(0px 0px 15% 0px);
             }
}