@use '../utils' as u;

.reservation-tuto{
&__btn {
               height: 7vh;
               width: 65%;
               background: linear-gradient(u.$second-color 0%, u.$primaire-color 100%);
               box-shadow: 0px 0.1rem 10px 0px #00000040;
               border-radius: 25px;
               border: none;
               @include u.margin(0px 0px 15% 0px);
               transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out ;
               &:hover{ 
                box-shadow: 0px 0.1rem 15px 0px #00000040;
                opacity: 0.8;
               }
             }
}

@media (min-width: 769px ) {
  .reservation-tuto{
    &__btn {
      width: 15%;
      @include u.margin(0px 0px 3% 0px);
    }
}
}