@use "../utils" as u;

.fa-handshake-angle {
  @include u.margin(0 2% 0 0);
}
.fa-utensils {
  @include u.margin(0 3% 0 0);
}

.heart-wrap {
  display: grid;
}
.card-list__restaurant__heart {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  position: relative;
  float: left;
  fill: transparent;
  stroke: black;
  z-index: 10;
  width: 23px;
  height: 21px;
}

.heart-stroke {
  path {
    fill: transparent;
    stroke: black;
  }
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  position: relative;
  float: left;
  z-index: 9;
  width: 23px;
  height: 21px;
}
.heart {
  &:hover > path {
    animation: heart 600ms ease;
    fill: url(#gradient);
    stroke: url(#gradient);
  }
}
@keyframes heart {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.fa-arrow-left {
  font-size: x-large;
}
.menu__heart {
  position: relative;
  left: 3em;
  width: 23px;
  height: 21px;
}
.engloblement-card__checkmark {
  border-radius: 0 15px 15px 0;
  @include u.margin(-5% -5% -5% 0);
  background-color: u.$third-color;
  width: 20%;
  @include u.tablette {
    & {
      @include u.margin(-4.35% -4.35% -4.35% 0);
      width: 15%;
    }
  }
  @include u.desktop {
    & {
      @include u.margin(-2.1% -2.1% -2.1% 0);
      width: 20%;
    }
  }
}
.menu__card-list__content:not(:hover) .engloblement-card__checkmark {
  display: none;
  overflow: hidden;
  @include u.display-flex-general(row, center, center);
  animation: plus-checkmark 400ms ease-in-out forwards;
}
.menu__card-list__content:hover .engloblement-card__checkmark {
  @include u.display-flex-general(row, center, center);
  animation: checkmark 400ms ease-in;
}

@keyframes checkmark {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes plus-checkmark {
  from {
    visibility: visible;
    width: 20%;
  }
  to {
    visibility: hidden;
    width: 0%;
  }
}

@include u.tablette {
  @keyframes checkmark {
    from {
      width: 0%;
    }
    to {
      width: 15%;
    }
  }
  @keyframes plus-checkmark {
    from {
      visibility: hidden;
      width: 15%;
    }
    to {
      visibility: hidden;
      width: 0%;
    }
  }
}
@include u.desktop {
  @keyframes checkmark {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
  @keyframes plus-checkmark {
    from {
      visibility: visible;
      width: 20%;
    }
    to {
      visibility: hidden;
      width: 0%;
    }
  }
}
