.body {
  font-family: "Roboto", sans-serif;
}

.bar-info__title {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  color: white;
  font-size: large;
}
.title__card {
  font-weight: 700;
  font-size: medium;
}
.text__card {
  font-size: medium;
  font-weight: 300;
}
.title__accueil {
  font-weight: 700;
  font-size: x-large;
}
.content__accueil {
  font-weight: 300;
  font-size: large;
}
.text-btn-fonctionnement-form {
  font-weight: 500;
  font-size: medium;
  color: white;
}


