@use "../utils" as u;
.body {
  font-family: "Roboto", sans-serif;
}

//certaine partie : font-family: "Shrikhand", cursive;

.bar-info__title {
  @include u.font-sizing(300, large);
  font-family: "Shrikhand", cursive;
  color: white;
}
.title__card {
  @include u.font-sizing(700, medium);
}
.text__card {
  @include u.font-sizing(300, medium);
}
.title__accueil {
  @include u.font-sizing(700, x-large);
}
.content__accueil {
  @include u.font-sizing(300, large);
}
.text-btn-fonctionnement-form {
  @include u.font-sizing(500, medium);
  color: white;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  @include u.font-sizing(400, 1.7em);
}
.menu__soustritre {
  @include u.font-sizing(300, large);
}
.menu__card-list__title {
  @include u.font-sizing(500, large);
}
.menu__card-list__text {
  @include u.font-sizing(300, 0.9em);
}

.euro {
  font-weight: 500;
}

.menu__card-list__checkmark i {
  color: white;
}
