@use "../utils" as u;

.link-decor {
  text-decoration: none;
  color: inherit;
}
.align-text-center {
  text-align: center;
}
.reservation-tuto {
  background-color: u.$content-background;
  @include u.display-flex-general(column, center, center);
  &__titre {
    width: 80%;
    @include u.margin(10% 0px 5% 0px);
  }
  &__text {
    @include u.margin(0px 0px 10% 0px);
  }
  @include u.tablette {
    & {
      &__titre {
        width: u.$pourcent-max;
        font-size: 2em;
        @include u.margin(7% 0px 5% 0px);
      }
      &__text {
        @include u.margin(0px 0px 7% 0px);
      }
    }
  }
  @include u.desktop {
    & {
      &__titre {
        width: u.$pourcent-max;
        font-size: 3em;
        @include u.margin(3% 0px 3% 0px);
      }
      &__text {
        @include u.margin(0px 0px 3% 0px);
      }
    }
  }
}

.fonctionnement {
  @include u.display-flex-general(column, unset, flex-start);
  @include u.margin(14% 5% 14% 5%);
  &__list-tuto {
    width: u.$pourcent-max;
  }
  &__border {
    @include u.display-align(center);
    @include u.sizing(u.$pourcent-max, 3.5em);
    @include u.margin(5% 0px 0px 0px);
    border: 1px solid u.$content-background;
    background-color: u.$content-background;
    border-radius: 20px;
    position: relative;
    box-shadow: u.$shadow;
    &-content {
      @include u.display-align(center);
      width: 80%;
      @include u.margin(0px 0px 0px 10%);
      font-weight: 500;
      font-size: medium;
      & .fa-list,
      .fa-mobile-screen-button,
      .fa-store {
        @include u.margin(0px 15% 0px 0px);
      }
      & .fa-list,
      .fa-mobile-screen-button {
        color: #7e7e7e;
      }
      & p {
        color: black;
      }
    }
    &-num {
      @include u.display-flex-general(row, center, center);
      position: absolute;
      left: -0.7em;
      border: 1px solid u.$primaire-color;
      border-radius: 50%;
      @include u.sizing(20px, 20px);
      background-color: u.$primaire-color;
      color: white;
    }
  }
  @include u.tablette {
    & {
      @include u.margin(7% 5% 10% 5%);
      &__border {
        @include u.sizing(75%, 3.5em);
        @include u.margin(5% 0px 0px 5%);
        &-content {
          width: u.$pourcent-max;
          & .fa-list,
          .fa-mobile-screen-button,
          .fa-store {
            @include u.margin(0px 15% 0px 0px);
          }
        }
      }
    }
  }
  @include u.desktop {
    & {
      @include u.margin(5% 13% 4% 13%);
      &__list-tuto {
        @include u.display-flex-general(row, center, center);
        gap: 2.5%;
      }
      &__titre {
        @include u.margin(0 0 1.5% 0);
      }
      &__border {
        @include u.sizing(33%, 4.5em);
        @include u.margin(1.5% 0 0 1.3%);
        &-content {
          @include u.margin(0px 0px 0px 10%);
          & i {
            @include u.margin(0px 7% 0px 0px);
          }
        }
      }
    }
  }
}

.card-list {
  padding: 10% 5% 14% 5%;
  background-color: u.$content-background;
  & H1 {
    @include u.margin(0px 0px 7% 0px);
  }
  &__restaurant {
    @include u.display-flex-general(column, unset, unset);
    box-shadow: u.$shadow;
    border-radius: 15px;
    @include u.margin(0px 0px 5% 0px);
    &__ecrit {
      width: 100%;
      display: grid;
      grid-template-columns: 90% 10%;
      margin-top: 3%;
      margin-right: -30%;
    }
    &__rectangle {
      @include u.display-flex-general(row, center, center);
      @include u.sizing(5em, 1.3em);
      @include u.rect-nouveau(-9em, 0.5em);
      padding: 1.5%;
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        & {
          @include u.rect-nouveau(-8.5em, 0.5em);
        }
      }
    }
    .hide {
      visibility: hidden;
    }
    & img {
      border-radius: 15px 15px 0px 0px;
      object-fit: cover;
      @include u.sizing(u.$pourcent-max, 20vh);
    }
    &__text {
      @include u.display-flex-general(row, space-around, unset);
      height: 3.5em;
      padding: 0 5% 5% 5%;
      & h3 {
        @include u.margin(0px 0px 2.5% 0px);
      }
    }
  }
  @include u.tablette {
    & {
      &__restaurant {
        &__ecrit {
          margin-top: 1%;
          margin-right: -30%;
        }
        &__rectangle {
          @include u.sizing(5.5em, 1em);
          @include u.rect-nouveau(-160px, 1.5em);
          padding: 1%;
          @media screen and (-webkit-min-device-pixel-ratio: 0) {
            & {
              @include u.rect-nouveau(-150px, 1.5em);
            }
          }
        }
        &__text {
          padding: 1.5% 5% 1.5% 5%;
          & h3 {
            @include u.margin(0px 0px 2.5% 0px);
          }
        }
      }
    }
  }
  @include u.desktop {
    & {
      padding: 3% 10% 0 13%;
      & H1 {
        @include u.margin(0px 0px 3.5% 0px);
      }
      &__div {
        display: flex;
        flex-wrap: wrap;
        gap: 7%;
      }
      &__restaurant {
        width: 45%;
        &__ecrit {
          margin-top: 0%;
          margin-right: -30%;
        }
        &__rectangle {
          @include u.sizing(5em, 1em);
          @include u.rect-nouveau(-160px, 1.4em);
          padding: 2%;
          @media screen and (-webkit-min-device-pixel-ratio: 0) {
            & {
              @include u.rect-nouveau(-150px, 1.4em);
            }
          }
        }
        .hide {
          @include u.margin(0px 0px 3% 0px);
          visibility: hidden;
        }
        &__text {
          @include u.display-flex-general(row, unset, unset);
          padding: 2% 5% 7% 5%;
          height: 1.5em;
          & h3 {
            @include u.margin(0% 0 1.5% 0);
          }
        }
      }
    }
  }
}
.heart__wrap {
  background-color: #7e7e7e;
}
// .loader-wrap {
//   position: fixed;
//   top: 0%;
//   left: 0%;
//   @include u.sizing(u.$pourcent-max, u.$pourcent-max);
//   background-color: white;
//   z-index: 1000;
//   animation: loader-wrap 2600ms forwards;
// }
// .loader {
//   width: 200px;
//   height: 200px;
//   position: absolute;
//   border: 5px solid;
//   border-radius: 50%;
//   top: 35%;
//   left: 25%;
//   border-top-color: u.$third-color;
//   border-bottom-color: u.$third-color;
//   border-right-color: u.$primaire-color;
//   border-left-color: u.$primaire-color;
//   animation: loader-anim 2500ms forwards;
// }

@include u.tablette {
  .loader {
    top: 35%;
    left: 43%;
  }
}
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.35;
  }
  99% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader-wrap {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.35;
  }
  99% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
