@use "../utils" as u;

.images {
  @include u.sizing(u.$pourcent-max, 20%);
  & img {
    @include u.sizing(u.$pourcent-max, 35vh);
    object-fit: cover;
    position: absolute;
  }
}

.menu {
  background-color: u.$content-background;
  position: relative;
  top: 28vh;
  padding: 10% 4%;
  border-radius: 40px 40px 0 0;
  &__title-icon {
    @include u.display-flex-general(row, flex-start, center);
    @include u.margin(0 0 10% 0);
  }
  &__sous_titre {
    border-bottom: 3px solid #99e2d0;
    width: 15%;
    padding-bottom: 1%;
    @include u.margin(0 0 4% 0);
  }
  &__card-list {
    @include u.margin(0 0 10% 0);
    &__content {
      display: flex;
      border-radius: 15px;
      box-shadow: u.$shadow;
      @include u.display-justify(space-between);
      height: 6vh;
      padding: 4%;
      @include u.margin(0 0 5% 0);
    }
    &__text {
      display: flex;
      flex-direction: column;
      width: u.$pourcent-max;
      & p,
      h2 {
        width: 89%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #99e2d0;
      }
    }

    &__description {
      width: u.$pourcent-max;
      @include u.display-flex-general(row, space-between, center);
      & p {
        @include u.margin(2.5% 0 0 0);
      }
      .euro {
        margin-right: 2%;
      }
    }
  }
  &__btn {
    @include u.display-justify(center);
  }
}
