@use "./variable.scss" as u;

@mixin margin($size) {
  margin: $size;
}

@mixin display-flex-general($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin display-justify($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin display-align($align) {
  display: flex;
  align-items: $align;
}
@mixin sizing($width, $height) {
  width: $width;
  height: $height;
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin tablette {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin font-sizing($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}
