@use "./variable.scss" as u;

@mixin margin($size) {
  margin: $size;
}

@mixin display-flex-general($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin display-justify($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin display-align($align) {
  display: flex;
  align-items: $align;
}
@mixin sizing($width, $height) {
  width: $width;
  height: $height;
}

@mixin rect-nouveau($top, $left) {
  background-color: u.$third-color;
  color: #008766;
  border-radius: 2px;
  position: relative;
  top: $top;
  left: $left;
}
@mixin desktop {
  @media (min-width: 1000) {
    @content;
  }
}

@mixin font-sizing($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}
