@use '../utils' as u;


.bar-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: u.$footer-background;
  padding: 7%;
  &--margin {
    @include u.margin (0 0 0 3%);
  }
  &__icone {
@include u.display-align (center);
color: white;
  }
  &__title {
    @include u.margin (0 0 0 3%);
  }
}

@media (min-width: 769px ) {
  .bar-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 0px;
    background-color: u.$footer-background;
    padding: 4% 5% 2% 7%;
    &__div{
      display: flex;
      justify-content: flex-end;
      width: 70%
    }
    &--margin {
      @include u.margin (0 0 0 3%);
    }
    &__icone {
  @include u.display-flex-general (flex, center, center);
  color: white;
  width: 12em;
  @include u.margin (0 0 0 0);
    }
    &__title {
      @include u.margin (0 0 3% 3%);
    }
  }
}