@use '../utils' as u;


.bar-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: u.$footer-background;
  padding: 7%;
  &--margin {
    @include u.margin (0 0 0 3%);
  }
  &__icone {
@include u.display-align (center);
color: white;
  }
}
