@use '../utils' as u;

.logo-localisation {
  &--sizing {
    display: flex;
    justify-content: center;
    padding: 5% 0px 5% 0px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px #00000026;
  }
  &__img {
    width: 48%;
  }
  &__localisation {
    background-color: #eaeaea;
  }
  &__text {
    margin-left: 4%;
    font-weight: 500;
    font-size: medium;
  }
}

@media (min-width: 769px ) {
  .logo-localisation {
    &__logo {
      padding: 2.5%;
    }
    &__img {
      width: 18%;
    }
    &__localisation {
      padding: 1.5%;
    }
    &__text {
      @include u.margin (0 0 0 1%);
    }
  }
}


/* partie pour les restaurants */


.logo-arrow{
  @include u.display-flex-general(row, center, center);
  box-shadow: 0px 2px 4px 0px #00000026;
  &__arrow{
 
  @include u.margin(0 0 0 5%);
  }
  &__logo{
  display: flex;
  justify-content: center;
  padding: 5% 0px 5% 0px;
  width: 100%;
  }
  }
