@use "../utils" as u;

.logo-localisation {
  &--sizing {
    @include u.display-justify(center);
    padding: 5% 0px 5% 0px;
    box-shadow: 0px 2px 4px 0px #00000026;
  }
  &__img {
    width: 48%;
  }
  &__localisation {
    background-color: #eaeaea;
  }
  &__form {
    @include u.display-flex-general(row, center, center);
  }
  @include u.tablette {
    & {
      &__logo {
        padding: 2.5%;
      }
      &__img {
        width: 25%;
      }
      &__localisation {
        padding: 1.5%;
      }
    }
  }
  @include u.desktop {
    & {
      &__logo {
        padding: 2.5%;
      }
      &__img {
        width: 18%;
      }
      &__localisation {
        padding: 1.5%;
      }
    }
  }
}
#logo-localisation__text {
  @include u.margin(0 0 0 4%);
  width: 110px;
  font-weight: 500;
  font-size: medium;
  background: #eaeaea;
  border: 0px;
  @include u.desktop {
    &__text {
      @include u.margin(0 0 0 1%);
    }
  }
  @include u.tablette {
    &__text {
      @include u.margin(0 0 0 1%);
    }
  }
}
.logo-arrow {
  grid-column: 1 / 1;
  grid-row: 1 / 5;
  @include u.display-flex-general(row, center, center);
  box-shadow: 0px 2px 4px 0px #00000026;
  &__arrow {
    @include u.margin(0 0 0 5%);
  }
  &__logo {
    @include u.display-justify(center);
    padding: 5% 0px 5% 0px;
    width: u.$pourcent-max;
  }
  @include u.tablette {
    & {
      &__logo {
        padding: 2% 0px 2% 0px;
      }
    }
  }
  @include u.desktop {
    & {
      &__arrow {
        @include u.margin(0 0 0 1.5%);
      }
      &__logo {
        & img {
          width: 12%;
        }
        padding: 2% 0px 2% 0px;
      }
    }
  }
}
